<aside class="profileaside">
  <img class="profileasideimg" src="assets/Perfil.png" alt="Imatge perfil">
</aside>

<section class="profilesection">
  <h1 id="profileh1section"> El meu perfil </h1>

  <div class="profileinfo" *ngIf="usuari">
    <div *ngIf="!editant">
      <p><strong>Nom:</strong> {{ usuari.nom }} </p>
      <p><strong>Cognom:</strong> {{ usuari.cognom }} </p>
      <p><strong>Adreça:</strong> {{ usuari.adreca }} </p>
      <p><strong>Telèfon:</strong> {{ usuari.telefon }} </p>
      <p><strong>Email:</strong> {{ usuari.email }} </p>
      <button class="profilebutton" (click)="editant = true">Editar perfil</button>
      <button (click)="restablir()" class="profilebutton" type="submit"> Restablir contrasenya </button>

      <div style="margin-top: 20px;">
        <button (click)="mostrarReview = !mostrarReview" class="profilebutton"> Fer una review </button>
        <div *ngIf="mostrarReview" style="margin-top: 10px;">
          <textarea [(ngModel)]="reviewText" class="registerformsectioninput" style="height: 100px; width: 30%;" placeholder="Escriu la teva review aquí..."></textarea>

          <div style="margin-top: 10px;">
            <app-puzzle-captcha (verified)="onCaptchaVerified($event)"></app-puzzle-captcha>
          </div>

          <button (click)="enviarReview()" class="profilebutton" style="margin-top: 10px;"> Enviar </button>
        </div>
      </div>

    </div>

    <div *ngIf="editant">
      <input [(ngModel)]="usuari.cognom" class="registerformsectioninput" placeholder="Cognom">
      <input [(ngModel)]="usuari.adreca" class="registerformsectioninput" placeholder="Adreça">
      <input [(ngModel)]="usuari.telefon" class="registerformsectioninput" placeholder="Telèfon">
      <input [(ngModel)]="usuari.nom" class="registerformsectioninput" placeholder="Nom">
      <button type="button" class="profilebutton" (click)="guardarCanvis()">Guardar canvis</button>

      <button class="profilebutton logout" (click)="editant = false">Cancel·lar</button>
    </div>
  </div>

  <div class="profilebuttons">
    <button class="profilebutton logout" (click)="tancarSessio()">Tancar sessió</button>
  </div>
  <p *ngIf="mensaje">{{ mensaje }}</p>
</section>
