<aside>
  <div class="registeraside">
    <img class="registerasideimg" src="/assets/Register.png" alt="">
  </div>
</aside>
<section class="registersection">
  <h1 id="registerh1section"> Crea el teu compte </h1>
  <form class="registerformsection" #registerForm="ngForm">
    <input [(ngModel)]="nouUsuari.nom" class="registerformsectioninput" type="text" id="fornom" name="nom" placeholder="Nom" required> <br>
    <input [(ngModel)]="nouUsuari.cognom" class="registerformsectioninput" type="text" id="forcognom" name="cognom" placeholder="Cognom" required> <br>
    <input [(ngModel)]="nouUsuari.password" class="registerformsectioninput" type="password" id="forpass" name="password" placeholder="Contrasenya" required> <br>

    <div style="display: flex; gap: 5px; margin-bottom: 10px; width: 73%; padding-left: 10px">
      <input [(ngModel)]="nouUsuari.email" name="email" class="registerformsectioninput" type="email" placeholder="Correu electrònic" style="flex: 1; margin-bottom: 0;">
      <button (click)="solicitarVerificacio()" type="button" style="padding: 0 10px; background-color: #555; color: white; border-radius: 4px; border: none; cursor: pointer;">
        Verificar
      </button>
    </div>

    <div *ngIf="enviat" style="margin-bottom: 10px;">
      <input [(ngModel)]="codiUsuari" name="codi" class="registerformsectioninput"
             type="text" placeholder="Introdueix el codi de verificació"
             style="border: 2px solid #3498db;">
    </div>

    <input [(ngModel)]="nouUsuari.adreca" class="registerformsectioninput" type="text" id="foradreça" name="adreça" placeholder="Adreça"> <br>
    <input [(ngModel)]="nouUsuari.telefon" class="registerformsectioninput" type="text" id="fortelefon" name="telefon" placeholder="Telèfon"> <br>
    <button (click)="registrar()" class="registerformsectionbutton" type="submit"> CONTINUAR </button>
    <button (click)="restablir()" class="registerformsectionbutton" type="submit"> Restablir contrasenya </button>
    <p *ngIf="mensaje && mensaje !== `nosortir`" class="registerformsectioninput" style="padding-right: 0%; margin-right:25%; border: black solid 1px">{{ mensaje }}</p>
    <p class="registerformsectiontext">Ja tens un compte? <a [routerLink]="['/login']" class="linktext">Iniciar Sessió</a></p>
    <p *ngIf="mensaje">{{ mensaje }}</p>
  </form>
</section>
