<div id="productos">
  <div class="producto" *ngFor="let item of cart">

    <div>
      <a href="">
        <img [src]="item.image" [alt]="item.name">
      </a>
    </div>

    <div class="textoproducto">
      <a href="">{{ item.name }}</a>
      <p *ngIf="item.selectedSize">Talla: {{ item.selectedSize }}</p>
    </div>

    <div>
      <p>{{ item.price }} €</p>
      <p>Cantidad: {{ item.quantity }}</p>
      <button (click)="removeFromCart(item)">Eliminar</button>
    </div>

  </div>
</div>

<div id="precios">
  <h2>Total:</h2>
  <p>{{ getTotal() | number:'1.2-2' }} €</p>
  <button (click)="buy()">Comprar</button>
</div>
